.main {
    padding: 6.4rem 3.2rem 6.4rem 6.4rem;

    background: #F3FBFF
}

.main-form {
    display: flex;
    align-items: center;
}

.main-search-container {
    width: 100%;
    max-width: 50%;
    display: flex;

    border-radius: 10px;
    background: #FFF;
    position: relative;

    overflow: hidden      ;
}

.main-search-container > label {
    opacity: 0;
    position: absolute;
    top: -20px;
    left: -20px;
}

.main-search-container > input#search {
    width: 100%;
    padding: 1.6rem;
    border: none;
    outline: none;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 26px;
    color: #C2C1C6;
}

.fa-magnifying-glass:before, .fa-search:before {
    color: #C2C1C6;
}

.main-search-container > button {
    padding: 1.6rem;
    border: none;

    background: transparent;

    cursor: pointer;
}

.main-search-history {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    position: relative;
    cursor: pointer;
    font-size: 1.4rem;
}

.main-search-history > span {
    color: #312D63;
    font-weight: 700;

}

.main-search-history-items {
    width: 20rem;
    padding: 1.6rem 2rem;
    background-color: #fff;
    
    position: absolute;
    top: 20px;

    border-radius: 10px;
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;

    display: none;
}

.main-search-history-item {
    color: #312D63;
    font-weight: 500;

}

.main-search-history-item + .main-search-history-item {
    margin-top: 2rem;
}

.main-forecast {
    margin-top: 6.4rem;
}

.main-forecast-title {
    font-size: 3.2rem;
    line-height: 42px;
    font-weight: 400;
    color: #312D63;
}

.main-forecast-title > span {
    font-weight: 900;
}

.main-places-card {
    padding: 0 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-places-card-location {
    margin: 1.6rem ;

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 30px;
    color: #312D63;
}

.main-places-card-forecast {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-forecast-days {
    margin-top: 6.4rem;
}

.main-forecast-days-title {
    margin-bottom: 3.2rem;

    font-size: 1.6rem;
    line-height: 26px;
    font-weight: 700;

    position: relative;
    
    color: #312D63;
}

.main-forecast-days-title::after {
    content: '';

    display: block;
    width: 10px;
    height: 10px;

    position: absolute;
    left: 25px;

    background: #312D63;
    border-radius: 50%;
}

.main-forecast-data-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-grow: 1;
}

.main-forecast-data-item + .main-forecast-data-item {
    margin-top: 1.6rem;
}

.main-forecast-data-item-dayweek {
    font-size: 1.6rem;
    line-height: 26px;
    font-weight: 700;

    color: #C2C1C6;
}

.main-forecast-data-item-chain-of-rain {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: flex-start;
}

.main-forecast-data-item-chain-of-rain > i {
    color: #4394ED;
}

.main-forecast-data-item-chain-of-rain > span {
    font-size: 1.2rem;
    line-height: 22px;
    font-weight: 600;
    color: #312D63;
}

.main-forecast-data-item-icon-situation-weather > img {
    width: 40px;
    height: 40px;
}

.main-forecast-data-item-chart-dayweek {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2rem;
    line-height: 22px;
    font-weight: 600;
}

.main-forecast-data-item-chart-dayweek > span {
    color: #312D63;
}

.main-forecast-data-item-chart-dayweek > #temp-min {
    color: #C2C1C6;
}

.main-forecast-data-item-chart-temp {
    margin: 0 3.2rem;
    
    width: 300px;
    height: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: relative;
}

.main-forecast-data-item-chart-temp::before {
    content: '';
    display: block;

    width: 20px;   /* MUDAR WIDTH COM JS || AUMENTA E DIMINUI O TAMANHO DO GRÁFICO*/ 
    height: 3px;

    position: absolute;
    left: 0;

    background: #FF6F45;
    border-radius: 10px;

}

.main-forecast-data-item-chart {
    width: 100%;
    border: 1px dotted #C2C1C6;
    border-radius: 50%;
}