.swiper {
    width: 100%;
    padding: 50px 0;
}

.swiper-wrapper {
  /* padding: 3.2rem; */
}

.swiper-slide {
  width: 100%;
  max-width: 200px;
  cursor: pointer;
}

.content {
  margin-top: 16px;
}
