* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.10%;
}

body {
    width: 100%;
    
    display: flex;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
}

.header {
    order: 2;
}

.main {
    order: 1;
}

ul {
    list-style: none;
}
 img {
    display: block;
    max-width: 100%;
 }